.button {
    background-color: blueviolet;
    border: 1px solid: black;
    font: Times New Roman;
    font-size: 15px;
    display: inline-block;
    min-height 50px;
    min-width: 20px;
}

body {
    background-color: lightblue;
}

header {
    background-color: lightsalmon;
}

div.menu{
    display: inline-block;
    padding 10px;
    margin: 15px;
}